@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: Lato;
}

.heading {
  font-family: Raleway;
} 

.header {
  width: 100%;
  background-color: #FFF;
  position:fixed;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #c0c0c0;
  float: left;
}

.contact-btn {
  background-color: #74cfae;
  float: right;
  padding: 14px 12px;
  font-size: 12px;
  color: #FFF;
  transition: all 0.3s;
  text-decoration: none;
}

.contact-btn:hover {
  color: #000;
}

.humberger {
  display: none;
}

.main {
  padding-top: 78px;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.title-inner {
  padding: 250px 0;
}

.title-box {
  text-align: center;
  z-index: 1;
}

.bolt-heading {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.bolt-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.section {
  background-color: #74cfae;
}

.phone-inner {
  display: flex;
  padding-top: 50px;
  align-items: flex-start;
  justify-content: center; 
}

.phone-text-box {
  width: 660px;
  margin-left: 80px;
}

.phone-text {
  font-size: 24px;
  color: #FFF;
}

.phone-text-lorem {
  font-size: 20px;
  color: #FFF;
  margin-top: 35px;
}

.article { 
  background-color: #f2f2f2;
}

.article-inner {
  padding: 60px 0 70px 0;;
}

.art-index {
  font-size: 24px;
  margin-bottom: 40px;
}

.art-bolt {
  display: inline-block;
  opacity: 0.7;
}

.art-bolt:hover {
  opacity: 1;
  transition:all 0.3s;
}

.art-img {
  float: left;
  margin-left: 100px;
  margin-top: 80px;
}


.art-img:nth-child(3n+1) {
  margin-left: 0;
}

.art-img:nth-child(-n+3) {
  margin-top: 0;
}

.art-bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;     
}

.art-text {
  width: 570px;
  font-size: 20px;
}

.email {
  display: none;
  padding: 14px 20px;
  font-size: 12px;
  background-color: #74cfae;
  color: #FFF;
  transition: all 0.3s;
  text-decoration: none;
  margin-left: 90px;
}

.email:hover {
  color: #000 ;
}

.section-back {
  background-color: #4e4e4e;
}

.back-inner {
  padding: 70px 0 100px 0;
}

.back-text {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 20px;
}

.back-img {
  float: left;
  margin-left: 180px;
}

.back-img:first-child{
  margin-left: 32px;
}

.back-icon {
  font-size: 16px;
  margin-top: 10px;
  color: #FFF;
}

.nav-inner {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.nav-icon {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 15px 0;
  transition: all 0.3s;
  width: 185px;
  color: #74cfae;
}

.btn:hover {
  background-color: #FFF; 
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px  0;
}

.footer-text {
  text-align: right;
  color: #FFF;
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .phone-inner, 
  .art-bottom-box {
    display: block;
  }

  .phone-inner {
    padding-bottom: 25px;
  }

  .phone-text-box {
    margin-left: 0;
    width: auto;
    margin-top: 20px;
  }

  .art-bolt {
    opacity: 0.7;
  }

  .art-bolt:hover {
    opacity: 1;
    transition:all 0.3s;
  }

  .art-img {
    float: none;
    margin-left: 0;
  }

  .art-avatar {
    vertical-align: bottom;
  }

  .art-img:nth-child(n+4) {
    margin-top: 0;
  }

  .art-img:nth-child(3n+1) {
    margin-top: 80px;
  }

.art-text {
  width: auto;
  margin-right: 0;
  margin-bottom: 40px;
  font-size: 16px;
}

  .art-bottom-box {
    margin-top: 80px;
  }

  .email{
    display: inline-block;
    margin-left: 0;
  }

  .section-back {
    background-color: #4e4e4e;
  }

  .back-inner {
    padding: 70px 0 100px 0;
  }

  .back-text {
    font-size: 20px;
  }

  .back-img {
    float: none;
    margin-top: 88px;
    margin-left: 0;
  }

  .back-img:first-child{
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .contact-btn {
    display: none;
  }

  .humberger { 
    display: block;
    left: 0;
    height: 20px;
    width: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    float: right;
    padding: 10px;
  }

  .humberger div {
    height: 3px;
    margin: 0 auto 5px;
    background-color: #ddd;
  }
  
  .humberger div:last-child {
    margin-bottom: 0;
  }
  
  .title-inner {
    padding: 160px 0 130px 0;
  }

  .bolt-heading {
    font-size: 80px;
  }

  .nav {
    padding: 0;
  }
  
  .nav-icon {
    flex-direction: column;
  }

  .btn {
    margin: 50px 15px;
    padding: 20px 0;
    width: 100%; 
  }

  .btn:nth-child(n+2) {
    margin-top: 0;
  }

  .btn:hover {
    background-color: #fff; 
  } 
} 